In [1]:
import yfinance as yf

# Datasets de Bolsa de Valores

In [13]:
#Guarda los valores de una accion en particular(ticke), de un periodo de tiempo en un dataframe
#este caso es el Standard & Poor's 500 - S&P500
sp500 = yf.Ticker("^GSPC").history(period="10y")

#Mestra la cabecera del dataframe
sp500.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-11 00:00:00-04:00,1992.849976,1997.650024,1985.930054,1997.449951,2941690000,0.0,0.0
2014-09-12 00:00:00-04:00,1996.739990,1996.739990,1980.260010,1985.540039,3206570000,0.0,0.0
2014-09-15 00:00:00-04:00,1986.040039,1987.180054,1978.479980,1984.130005,2776530000,0.0,0.0
2014-09-16 00:00:00-04:00,1981.930054,2002.280029,1979.060059,1998.979980,3160310000,0.0,0.0
2014-09-17 00:00:00-04:00,1999.300049,2010.739990,1993.290039,2001.569946,3209420000,0.0,0.0